.slide-up-text{
    opacity: 0;
    animation: slideUp 1.5s ease-out forwards;
}
@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }

}