.visual-card{
   background: linear-gradient(135deg, rgb(52, 54, 54), rgb(12, 17, 17));
}
p {
    font-family: "Montserrat", sans-serif;
}
.enter-term {
    padding-left: 10px;
    font-size: 20px;
    color: white;
    background-color: rgb(85, 85, 85);
    border-radius: 5px;
    width: 550px;
    height: 50px;
}
.enter-term::placeholder {
    font-size: 20px;
}
.enter-term:focus::placeholder{
    color: transparent;
}
.enter-term:focus {
    border-color: rgb(0, 0, 200);
    border-style: solid;
    border-width: 0.5px;
}
.btn-add-more {
    background-color: rgb(17, 77, 150);
    padding: 5px 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}